<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="../styles/about.css" />
  </head>
  <body>
    <section>
      <div class="about-card">
        <div class="about-card-left">
          <img
            class="about-image"
            src="/assets/images/gallery-1.jpg"
            alt="doctor_gallery_image"
          />
        </div>
        <div class="about-card-right">
          <h2>Dentacare with a personal touch</h2>
          <p>
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia.
          </p>
          <div class="boxed-card">
            <div class="check-icon">✔</div>
            <div>
              <h3>Well Experience Dentist</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error,
                accusamus maiores eum modi officiis explicabo dolor laboriosam
                aliquid repellendus, ut odit rem expedita esse itaque architecto
                nobis, eligendi nostrum! Quidem.
              </p>
            </div>
          </div>
          <div class="boxed-card">
            <div class="check-icon">✔</div>
            <div>
              <h3>High Technology Facilities</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error,
                accusamus maiores eum modi officiis explicabo dolor laboriosam
                aliquid repellendus, ut odit rem expedita esse itaque architecto
                nobis, eligendi nostrum! Quidem.
              </p>
            </div>
          </div>
          <div class="boxed-card">
            <div class="check-icon">✔</div>
            <div>
              <h3>Comfortable Clinics</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error,
                accusamus maiores eum modi officiis explicabo dolor laboriosam
                aliquid repellendus, ut odit rem expedita esse itaque architecto
                nobis, eligendi nostrum! Quidem.
              </p>
            </div>
          </div>
          <div class="boxed-card">
            <div class="check-icon">✔</div>
            <div>
              <h3>Well Experience Staff</h3>
              <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Error,
                accusamus maiores eum modi officiis explicabo dolor laboriosam
                aliquid repellendus, ut odit rem expedita esse itaque architecto
                nobis, eligendi nostrum! Quidem.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
