<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blogs</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="../styles/blogs.css" />
  </head>
  <body>
    <section>
      <div class="blog-container">
        <div class="blog-title">Latest Blog</div>
        <div class="blog-desc">
          A small river named Duden flows by their place and supplies it with
          the necessary regelialia.
        </div>
        <br />
        <div class="blog-container-row">
          <div class="blog-card">
            <div class="blog-image">
              <img src="./assets/images/image_1.jpg" alt="" />
            </div>
            <div class="blog-details-info-section">
              <div class="blog-date-time-user-section">
                Sep. 20, 2018 Admin 3
              </div>
              <div class="blog-desc-card">
                <a style="color: black" href=""
                  >Even the all-powerful Pointing has no control about the blind
                  texts</a
                >
              </div>
            </div>
          </div>
          <div class="blog-card">
            <div class="blog-image">
              <img src="./assets/images/image_1.jpg" alt="" />
            </div>
            <div class="blog-details-info-section">
              <div class="blog-date-time-user-section">
                Sep. 20, 2018 Admin 3
              </div>
              <div class="blog-desc-card">
                <a style="color: black" href=""
                  >Even the all-powerful Pointing has no control about the blind
                  texts</a
                >
              </div>
            </div>
          </div>
          <div class="blog-card">
            <div class="blog-image">
              <img src="./assets/images/image_1.jpg" alt="" />
            </div>
            <div class="blog-details-info-section">
              <div class="blog-date-time-user-section">
                Sep. 20, 2018 Admin 3
              </div>
              <div class="blog-desc-card">
                <a style="color: black" href=""
                  >Even the all-powerful Pointing has no control about the blind
                  texts</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
