<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Experienced Team</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="../styles/experienced_team.css" />
  </head>
  <body>
    <section>
      <div class="exp-team">
        <div class="exp-team-header">
          <h2 class="exp-team-heading-text">Meet Our Experience Dentist</h2>
          <p
            style="
              color: gray;
              padding-left: 50px;
              padding-right: 50px;
              padding-top: 20px;
            "
          >
            A small river named Duden flows by their place and supplies it with
            the necessary regelialia. It is a paradisematic country, in which
            roasted parts of sentences
          </p>
        </div>

        <!-- Multiple Cards -->
        <div class="team-card-grid">
          <div class="exp-team-card">
            <div class="team-img">
              <img src="/assets/images/person_5.jpg" alt="person_image" />
            </div>
            <div class="team-person-title">Tom Smith</div>
            <div class="team-person-job-title">Dentist</div>
            <div class="team-person-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum
              amet ratione beatae delectus modi atque odit, consectetur maiores
              voluptate, quo fuga voluptatibus, recusandae architecto magnam
              provident? Rem suscipit at sit?
            </div>
            <div>
              <ul class="social-icons-ul">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
              </ul>
            </div>
          </div>

          <div class="exp-team-card">
            <div class="team-img">
              <img src="/assets/images/person_5.jpg" alt="person_image" />
            </div>
            <div class="team-person-title">Tom Smith</div>
            <div class="team-person-job-title">Dentist</div>
            <div class="team-person-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum
              amet ratione beatae delectus modi atque odit, consectetur maiores
              voluptate, quo fuga voluptatibus, recusandae architecto magnam
              provident? Rem suscipit at sit?
            </div>
            <div>
              <ul class="social-icons-ul">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
              </ul>
            </div>
          </div>

          <div class="exp-team-card">
            <div class="team-img">
              <img src="/assets/images/person_5.jpg" alt="person_image" />
            </div>
            <div class="team-person-title">Tom Smith</div>
            <div class="team-person-job-title">Dentist</div>
            <div class="team-person-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum
              amet ratione beatae delectus modi atque odit, consectetur maiores
              voluptate, quo fuga voluptatibus, recusandae architecto magnam
              provident? Rem suscipit at sit?
            </div>
            <div>
              <ul class="social-icons-ul">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
              </ul>
            </div>
          </div>

          <div class="exp-team-card">
            <div class="team-img">
              <img src="/assets/images/person_5.jpg" alt="person_image" />
            </div>
            <div class="team-person-title">Tom Smith</div>
            <div class="team-person-job-title">Dentist</div>
            <div class="team-person-desc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum
              amet ratione beatae delectus modi atque odit, consectetur maiores
              voluptate, quo fuga voluptatibus, recusandae architecto magnam
              provident? Rem suscipit at sit?
            </div>
            <div>
              <ul class="social-icons-ul">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
