<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NewsLetter</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="../styles/views/news_letter.css" />
  </head>
  <body>
    <section>
      <div class="newsletter-container">
        <div class="newsletter-title">Subscribe to our Newsletter</div>
        <div class="newsletter-desc">
          Far far away, behind the word mountains, far from the countries
          Vokalia and Consonantia,<br />
          there live the blind texts. Separated they live in
        </div>
        <form class="newsletter-form">
          <input
            type="text"
            class="newsletter-email-field"
            placeholder="Enter email address"
          />
          <button id="subscribe-btn">Subscribe</button>
        </form>
      </div>
    </section>
  </body>
</html>
