<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pricing</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="../styles/views/pricing.css" />
  </head>
  <body>
    <section>
      <div class="pricing-section">
        <div class="pricing-details">
          <h2 class="pricing-title">Our Best Pricing</h2>
          <p class="pricing-desc">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum et
            nulla repellat sint perferendis. Nam repellendus, molestias beatae
            consequatur rerum est doloremque nihil aut harum, doloribus sequi
            esse dolor ab.
          </p>
        </div>

        <br />

        <div class="pricing-card-row">
          <!-- Multiple Cards -->
          <div class="pricing-card">
            <div class="price-title">Basic</div>
            <div class="price">
              <span class="span-price">$24.50</span> /
              <span class="text-span">
                <sub>session</sub>
              </span>
            </div>
            <div class="colored-section">
              <p>Diagnostic Services</p>
            </div>
            <div class="uncolored-section">Professional Consultation</div>
            <div class="colored-section">
              <p>Diagnostic Services</p>
            </div>
            <div class="uncolored-section">Professional Consultation</div>
            <div class="colored-section">
              <p>Diagnostic Services</p>
            </div>
            <div class="uncolored-section">Professional Consultation</div>
          </div>

          <div class="pricing-card">
            <div class="price-title">Basic</div>
            <div class="price">
              <span class="span-price">$24.50</span> /
              <span class="text-span">
                <sub>session</sub>
              </span>
            </div>
            <div class="colored-section">
              <p>Diagnostic Services</p>
            </div>
            <div class="uncolored-section">Professional Consultation</div>
            <div class="colored-section">
              <p>Diagnostic Services</p>
            </div>
            <div class="uncolored-section">Professional Consultation</div>
            <div class="colored-section">
              <p>Diagnostic Services</p>
            </div>
            <div class="uncolored-section">Professional Consultation</div>
          </div>

          <div class="pricing-card">
            <div class="price-title">Basic</div>
            <div class="price">
              <span class="span-price">$24.50</span> /
              <span class="text-span">
                <sub>session</sub>
              </span>
            </div>
            <div class="colored-section">
              <p>Diagnostic Services</p>
            </div>
            <div class="uncolored-section">Professional Consultation</div>
            <div class="colored-section">
              <p>Diagnostic Services</p>
            </div>
            <div class="uncolored-section">Professional Consultation</div>
            <div class="colored-section">
              <p>Diagnostic Services</p>
            </div>
            <div class="uncolored-section">Professional Consultation</div>
          </div>

          <div class="pricing-card">
            <div class="price-title">Basic</div>
            <div class="price">
              <span class="span-price">$24.50</span> /
              <span class="text-span">
                <sub>session</sub>
              </span>
            </div>
            <div class="colored-section">
              <p>Diagnostic Services</p>
            </div>
            <div class="uncolored-section">Professional Consultation</div>
            <div class="colored-section">
              <p>Diagnostic Services</p>
            </div>
            <div class="uncolored-section">Professional Consultation</div>
            <div class="colored-section">
              <p>Diagnostic Services</p>
            </div>
            <div class="uncolored-section">Professional Consultation</div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
