<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="../styles/services.css" />
  </head>
  <body>
    <section class="services">
      <div class="services-section-header">
        <h2>Our Service Keeps You Smile</h2>
        <p>
          A small river named Duden flows by their place and supplies it with
          the necessary regelialia.
        </p>
      </div>

      <div class="card-grid">
        <div class="card">
          <div class="card-icon">
            <img src="/assets/icons/tooth-whitening.png" alt="tooth" />
          </div>
          <h3 class="card-title">Teeth Whitening</h3>
          <p class="card-text">
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic.
          </p>
        </div>

        <div class="card">
          <div class="card-icon">
            <img src="/assets/icons/tooth-cleaning.png" alt="tooth" />
          </div>
          <h3 class="card-title">Teeth Cleaning</h3>
          <p class="card-text">
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic.
          </p>
        </div>

        <div class="card">
          <div class="card-icon">
            <img src="/assets/icons/tooth-braces.png" alt="tooth" />
          </div>
          <h3 class="card-title">Quality Brackets</h3>
          <p class="card-text">
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic.
          </p>
        </div>

        <div class="card">
          <div class="card-icon">
            <img src="/assets/icons/injection.png" alt="tooth" />
          </div>
          <h3 class="card-title">Modern Anesthetic</h3>
          <p class="card-text">
            Even the all-powerful Pointing has no control about the blind texts
            it is an almost unorthographic.
          </p>
        </div>
      </div>
    </section>
  </body>
</html>
