/* Services */
.services {
    padding: 80px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-section-header {
    max-width: 800px;
    text-align: center;
    margin-bottom: 60px;
}

.services-section-header h2 {
    font-size: 30px;
    color: #2f89fc;
    margin-bottom: 20px;
}

.services-section-header p {
    font-size: 16px;
    color: gray;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.card {
    width: 250px;
    padding: 20px;
    text-align: center;
}

.card-icon {
    height: 120px;
    width: 120px;
    margin: 0 auto 20px;
    border: 1px solid #2f89fc;
    border-radius: 50%;
    background-color: #f8fbff;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.card-icon img {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 50px;
    width: 50px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
    color: gray;
    line-height: 1.6;
}