/* NewsLetter Section */
.newsletter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2f89fc;
  padding: 40px;
  color: #fafafa;
}

.newsletter-title {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

.newsletter-desc {
  margin-bottom: 30px;
  line-height: 1.6;
}

.newsletter-form {
  display: flex;
  margin-top: 20px;
}

.newsletter-email-field {
  background-color: transparent;
  border: 1px solid white;
  padding: 15px 20px;
  width: 300px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  font-size: 16px;
}

#subscribe-btn {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 15px 30px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  font-size: 16px;
}

input::placeholder {
  color: white;
}

/* Responsive */
@media (max-width: 600px) {
  .newsletter-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .newsletter-email-field {
    width: 150%;
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 10%;
  }

  #subscribe-btn {
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }
}
