/* Services */
.services {
  display: flex;
  padding: 80px 40px;
  justify-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.services-section-header {
  max-width: 800px;
  align-items: center;
  text-align: center;
  margin-bottom: 60px;
}

.services-section-header h2 {
  font-size: 30px;
  color: #2f89fc;
  margin-bottom: 20px;
}

.services-section-header p {
  font-size: 16px;
  color: gray;
}

.card-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.card-icon {
  height: 120px;
  width: 120px;
  margin: 0 auto 20px;
  border: 1px solid #2f89fc;
  border-radius: 50%;
  background-color: #f8fbff;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.card-icon img {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 50px;
  width: 50px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  color: gray;
  line-height: 1.6;
}

@media screen and (320px <= max-width <= 768px) {
  .services {
    min-height: 100vh;
    padding: 80px 40px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(1, 1fr);
  }
}
